*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #1588ca;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
   border-radius: 8%
};

.menu li a{
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.menu li a:hover{
    background-color: #1588ca;
    color: #000000;
}

.menu li ul{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffd000;
    display: none;
    width: 150px;
}
