*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1276af;
}

.menu{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #1588ca;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
   border-radius: 8%
};

.menu li a{
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.menu li a:hover{
    background-color: #1588ca;
    color: #000000;
}




.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    max-width: 900px;
    margin: 40px auto;
  }
  

  #card1 {
    background-color: #245791;
    background-image: url('download.jpeg');
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
 
  }

  #card2 {
    background-color: #245791;
    background-image: url('Untitled.jpeg');
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
 
  }
  #card3 {
    background-color: #245791;
    background-image: url('images.jpeg');
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
 
  }
  #card4 {
    background-color: #245791;
    background-image: url('bale-classico-cke.webp');
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
 
  }
  #card5 {
    background-color: #245791;
    background-image: url('i');
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
 
  }
  #card6 {
    background-color: #245791;
    background-image: url('Untitled.jpeg');
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
 
  }
  
  #card1:hover {
    background-color: #357ab8;
    transform: scale(1.05);
  }
 
  #card2:hover {
    background-color: #357ab8;
    transform: scale(1.05);
  }
 
  #card3:hover {
    background-color: #357ab8;
    transform: scale(1.05);
  }
 
  #card4:hover {
    background-color: #357ab8;
    transform: scale(1.05);
  }
 
  #card5:hover {
    background-color: #357ab8;
    transform: scale(1.05);
  }
 
  #card6:hover {
    background-color: #357ab8;
    transform: scale(1.05);
  }



