{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1276af;
}

.menu{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.menu{
  list-style: none;
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #1588ca;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
 border-radius: 8%
};

.menu li a{
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.menu li a:hover{
  background-color: #0d86cc;
  color: #000000;
}




.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  max-width: 900px;
  margin: 40px auto;
}


#card1 {
  background-color: #245791;
  background-image: url('download.jpeg');
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;  
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
}


#card2 {
  background-color: #245791;
  background-image: url('Untitled.jpeg');
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;

}
#card3 {
  background-color: #245791;
  background-image: url('./379-HistoÃÅria-do-teatro-no-Brasil-e-no-Mundo.webp');
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
}
#card4 {
  background-color: #245791;
  background-image: url('bale-classico-cke.webp');
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
}
#card5 {
  background-color: #245791;
  background-image: url('./images.jpeg');
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
}
#card6 {
  background-color: #245791;
  background-image: url('./ilustracao-desenhada-a-mao-para-o-dia-internacional-do-museu_23-2150293065.avif');
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;

}

#card1:hover {
  background-color: #357ab8;
  transform: scale(1.05);
}

#card2:hover {
  background-color: #357ab8;
  transform: scale(1.05);
}

#card3:hover {
  background-color: #357ab8;
  transform: scale(1.05);
}

#card4:hover {
  background-color: #357ab8;
  transform: scale(1.05);
}

#card5:hover {
  background-color: #357ab8;
  transform: scale(1.05);
}

#card6:hover {
  background-color: #357ab8;
  transform: scale(1.05);
}



/*
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #2797c4;
}

.calendar {
  width: 10000%;
  max-width: 900px;
  background-color: rgb(255, 255, 255);
  padding: 7px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

*/
.weekdays, .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  gap: 5px;
}

.weekdays div {
  font-weight: bold;
  color: #3a3a3a;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
}

.days div {
  padding: 15px 0;
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: default;
  transition: background-color 0.2s;
}

.days div:nth-child(5) { /* Destaca o dia 4, por exemplo */
  background-color: #ffffff;
  color: rgb(63, 54, 54);
  font-weight: bold;
}

.days .empty {
  background-color: #f9f9f9;
}

.days div:not(.empty):hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

*{
  text-align: center;
  height: ;
}

.container {
  text-align: center;
}

.container img {
  margin: 0 auto;
  display: block;
  width: 325%;
}
